* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width:100%;
    height:100%;
    box-sizing: border-box;
}
.logo {
    border: solid red;
    width: 100%;
    height: 100%;
    padding-left: 20px;
    padding-top: 5px;
}

.container {
    width: 100%;
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

.buttons {
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    height: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.iniciar {
    width: 320px;
    height: 120px;
    color: #FFFFFF;
    background-color: #0A3871;
    border-radius: 24px;
}

.palabra {
    color: #0A3871;
    display: inline-block;
    border-color: #0A3871;
    border-radius: 12px;
    width: 60%;
    padding: 24px 24px;
    margin-top: 24PX;
    margin-bottom: 24px;
    margin-left: 20%;
    margin-right: 20%;
}

.center {
    text-align: center;
    margin-top: 25%;
    margin-bottom: 25%;
}

/* footer */
.footer {
    display: flex;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0px;
    background-color: #0A3871;
    justify-content: space-between;
    flex-direction: column;
}

.social-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 8%;
    margin-top: 2px;
}

.social-links p {
    justify-content: flex-end;
    align-content: space-around;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 10px;
    margin-right: 20px;
    color: #FFFFFF;
}

.social-links a {
    font-size: 30px;
    color: #ffffff;
    margin-right: 20px;
}

.social-links a:hover {
    color: #f10b63;
}

/* aplicamos esta mediaqueries para hacer responsive el boton*/
@media screen and (max-width: 600px) {
    .container {
        width: 100%;
        height: 100%;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .buttons {
        width: 100%;
        margin-left: 0%;
        margin-right: 0%;
        height: 100%;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .palabra {
        width: 60%;
        margin-left: 15%;
        margin-right: 15%;
    }

    .footer {
        display: flex;
        box-sizing: border-box;
        font-family: "Poppins", sans-serif;
        position: relative;
        width: 100%;
        height: 100%;
        padding: 0px;
        background-color: #0A3871;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}